*{
    margin:0;
    padding:0;

}

.container{
    background-color: rgb(171, 249, 223);
    height: 300px;
    width:500px;
    margin-left:30%;
    margin-top:15%;
    border-radius: 2%;
    border-color:white;
    padding:20px; 
    flex-direction: column;
    box-shadow:0 10px 10px;
}
.button{
    width:300px;
    height:25px;
    background-color: aquamarine;
}
.input{
    height:20px;
    width:300px;
}

